# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\experiments\java\shortdelay\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
